{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
	<header>
		<h1>{{ .Title }}</h1>
	</header>

	<article>
		{{ if .Params.featured }}
			<section id="photos">
				{{ range sort .Params.featured }}
				<!--div class="responsive"-->
					<!--div class="gallery"-->
					<a href={{ .url }}>
						<figure>
							<img src={{ .image }} {{ if .alt }} alt={{ .alt }} {{ end }} />
							{{ if .caption }}
								<!--figcaption>{{ .caption }}</figcaption -->
								<p>{{ .caption }}</p>
							{{ end }}
						</figure>
					</a>
				{{ end }}
			</section>
		{{ end }}
		{{ .Content }}
	</article>
</main>

<div id="bottom-nav" class="text-center center-block">
	<a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
</div>

{{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{ partial "footer.html" . }}
