<meta http-equiv="refresh" content="0; url=/portfolio"/>

{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<header>
	<!-- Check if header is not set or empty -->
	{{ if (not (isset .Site.Params "header")) | or (eq .Site.Params.header "") }}
		<h1>What I'm Thinking</h1>
	{{ else }}
		<h1>{{ .Site.Params.header }}</h1>
	{{ end }}
</header>

{{ partial "footer.html" . }}
